<!DOCTYPE html>

<html lang="ru">

<head>
    <title>Todo app</title>
    <%- include ../html/_common/meta.ejs %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<%- include ../html/_common/header.ejs %>

<main class="main">
    <div id="root">

    </div>
</main>

<%- include ../html/_common/footer.ejs %>
</body>

</html>

