<!DOCTYPE html>

<html lang="ru">

<head>
    <title>Todo app</title>
    <%- include ../html/_common/meta.ejs %>
</head>

<body>
<%- include ../html/_common/header.ejs %>

<main class="main">
    <div id="app">

    </div>
</main>

<%- include ../html/_common/footer.ejs %>
</body>

</html>

