<div class="svg-root" aria-visible="false" hidden="hidden">
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol id="question" viewBox="0 0 28 28" fill="none">
      <path
        d="M13.9583 27C18.301 27 22.6024 26.9524 26.9583 26.91L24.8333 21.0865C26.2023 19.0379 27 16.5788 27 13.9343C27 6.79087 21.1797 1 14 1C6.8203 1 1 6.79088 1 13.9343C1 21.0777 6.77864 27 13.9583 27Z"
        stroke="#96C038" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path
        d="M9 11C9 11.5523 9.44772 12 10 12C10.5523 12 11 11.5523 11 11H9ZM14 16L13.2514 15.3369C13.0894 15.5198 13 15.7557 13 16H14ZM13 16.3333C13 16.8856 13.4477 17.3333 14 17.3333C14.5523 17.3333 15 16.8856 15 16.3333H13ZM11 11C11 9.34315 12.3431 8 14 8V6C11.2386 6 9 8.23858 9 11H11ZM14 8C15.6569 8 17 9.34315 17 11H19C19 8.23858 16.7614 6 14 6V8ZM13 16V16.3333H15V16H13ZM17 11C17 11.6105 16.5991 12.2487 15.7811 13.034C15.3869 13.4124 14.9575 13.7694 14.5082 14.1533C14.0772 14.5215 13.6192 14.9218 13.2514 15.3369L14.7486 16.6631C15.0123 16.3654 15.3699 16.0476 15.8074 15.6738C16.2265 15.3157 16.7181 14.9069 17.1661 14.4768C18.0323 13.6453 19 12.4965 19 11H17Z"
        fill="white"/>
      <path
        d="M14.5 20C14.5 20.2761 14.2761 20.5 14 20.5C13.7239 20.5 13.5 20.2761 13.5 20C13.5 19.7239 13.7239 19.5 14 19.5C14.2761 19.5 14.5 19.7239 14.5 20Z"
        stroke="white"/>
    </symbol>
  </svg>
</div>
